* {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: white;
    background-color: blue; 
    width: fit-content;
}
#Search {
    background-color: black;
    color: white;
    
}
button {
    color: balc;
    background-color: aqua;
    
}