.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: containerheight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes fontAnimation {
    from {
        font-size: 20px;
    }    
    to {
        font-size: 40px; ;
    }
}

@keyframes backgroundcolor{
    from{
        background-color: aqua;
    }
    to{
        background-color: brown;
    }
}

@keyframes containerheight{
    from{
        height: 10px;
    }
    to{
        height: 400px;
    }
}